body {
    padding-top: 60px;
}

.form-signin {
    background-color: #eeeeee;
    padding: 15px 25px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.maintable {
    margin: 0 0;
}

.form-signin-heading {
    color: #444;
}

#toggle-all {
    visibility: hidden;
}

.rechnungs-button {
    margin-top: 25px;
}

.custom-span {
    width: 328px;
}

.index-height p {
    height: 70px;
}
