{% extends "base.html" %}

{% block title %} - csvexport{% endblock %}

{% block content %}
{% if stundenaufzeichnungen %}
    <div class="row">
        <div class="span6">
            <h3>CSV exportieren</h3>
            <p>Hier kann man ein Backup aller Daten als CSV Datei sichern. </p>
            <form class="form-inline" action="{% url "csvexport" %}" method="post">{% csrf_token %}
                <button class="btn btn-primary btn-large" type="submit" value="Daten als CSV exportieren"><i class="icon-download-alt icon-white"></i> Daten als CSV exportieren</button>
            </form>
        </div>
    </div>
{% else %}
    <div class="alert alert-info">
        Information: Derzeit sind keine Einträge vorhanden, daher kann im Moment kein Export erfolgen.
    </div>
{% endif %}
{% endblock %}
