{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - csvimport{% endblock %}

{% block content %}
     <form class="form-inline" action="{% url "csvimport" %}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="span10">
                <h3>CSV exportieren</h3>
                {% crispy form %}
                <button class="btn btn-primary btn-large" type="submit" value="Daten von CSV Datei importieren"><i class="icon-arrow-up icon-white"></i> Daten von CSV Datei importieren</button>
            </div>
        </div>
    </form>
{% endblock %}
