{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - csvimport fertig{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6">
            <h4>CSV Import durchgeführt</h4>
            <p class="alert alert-success">
                Es wurden {{ count_stundenaufzeichnung }} Stundenaufzeichnungen, {{ count_firma }} Firmen und {{ count_arbeitnehmer }} Arbeitnehmer importiert.
            </p>
            <a href="{% url "index" %}" class="btn btn-primary btn-large"><i class="icon-home icon-white"></i> Home</a>
        </div>
    </div>
{% endblock %}
