{% extends "base.html" %}

{% block title %} - home{% endblock %}

{% block content %}
    <div class="row">
        <div class="span3">
            <h3>Neuer Eintrag</h3>
            <p>Klicke hier, um einen neuen Eintrag in der Stundenaufeichnung zu machen. </p>
        </div>
        <div class="span3">
            <h3>Rechnung stellen</h3>
            <p>Klicke hier, um eine Rechnung mit den noch unbezahlten Stunden zu erstellen. </p>
        </div>

        <div class="span3">
            <h3>CSV exportieren</h3>
            <p>Klicke hier, um ein Backup der eingegebenen Daten zu erstellen. </p>
        </div>
        <div class="span3">
            <h3>CSV importieren</h3>
            <p>Klicke hier, um vorher exportierte Daten wieder zu importieren. </p>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <a class="btn btn-large btn-primary" href="{% url "stundenaufzeichnung_neu" %}"><i class="icon-plus icon-white"></i> Eintrag erstellen</a>
            <p> </p>
        </div>
        <div class="span3">
            <a class="btn btn-large btn-success" href="{% url "rechnung" %}"><i class="icon-file icon-white"></i> Rechnung stellen</a>
            <p> </p>
        </div>

        <div class="span3">
            <a class="btn btn-large btn-info" href="{% url "csvexport" %}"><i class="icon-download-alt icon-white"></i> CSV exportieren</a>
            <p> </p>
        </div>
        <div class="span3">
            <a class="btn btn-large btn-inverse" href="{% url "csvimport" %}"><i class="icon-arrow-up icon-white"></i> CSV importieren</a>
            <p> </p>
        </div>
    </div>
{% if stundenaufzeichnung %}
    <div class="row maintable" id="maintable">
        <div class="span12">
            <h3>Die letzten Stundenaufzeichnungen</h3>
        </div>
        <div class="span12" id="stundenaufzeichnung">
            <table class="table table-bordered">
                <tr>
                    <th>Datum</th>
                    <th>Firma</th>
                    <th>Startzeit</th>
                    <th>Endzeit</th>
                    <th>Arbeitnehmer</th>
                    <th>Protokoll</th>
                    <th>Stunden</th>
                    <th>Bezahlt</th>
                </tr>
                {% for row in stundenaufzeichnung %}{% if row.bezahlt %}<tr class="success">{% else %}<tr class="error"> {% endif %}
                    <td><a href="{% url "stundenaufzeichnung" %}{{ row.id }}/">{{row.datum}}</a></td>
                    <td>{{row.firma}}</td>
                    <td>{{row.startzeit|time:"H:i"}}</td>
                    <td>{{row.endzeit|time:"H:i"}}</td>
                    <td>{{row.arbeitnehmer}}</td>
                    <td>{{row.protokoll}}</td>
                    <td>{{row.stunden}}</td>
                    <td>{% if row.bezahlt %} Ja {% else %}  Nein {% endif %}</td>
                </tr>{% endfor %}
            </table>
            <div>
                {% if stundenaufzeichnung.has_previous %}
                    <a class="btn pages" href="?page={{ stundenaufzeichnung.previous_page_number }}#maintable"><i class="icon-backward"></i> zurück</a>
                {% else %}
                    <a class="btn disabled" href="javascript: void(0)"><i class="icon-backward"></i> zurück</a>
                {% endif %}

                Seite {{ stundenaufzeichnung.number }} von {{ stundenaufzeichnung.paginator.num_pages }}

                {% if stundenaufzeichnung.has_next %}
                    <a class="btn pages" href="?page={{ stundenaufzeichnung.next_page_number }}#maintable">weiter <i class="icon-forward"></i></a>
                {% else %}
                    <a class="btn disabled" href="javascript: void(0)">weiter <i class="icon-forward"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
