{% extends "base.html" %}

{% block title %} - login{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
        {% if error %}
        <div class="row">
            <div class="span3 offset4 alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>{{ error }}</strong>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <form class="span3 offset4 form-signin" method="post">{% csrf_token %}
                <h2 class="form-signin-heading">Bitte Anmelden</h2>
                <input name="username" value="{{ username }}" type="text" class="input-block-level" placeholder="Username" autofocus>
                <input name="password" type="password" class="input-block-level" placeholder="Passwort">

                <button class="btn btn-large btn-primary" type="submit"><i class="icon-share icon-white"></i> Anmelden</button>
            </form>
        </div>
{% endblock %}
