{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - rechnungsumme{% endblock %}

{% block content %}
<form class="form-inline" action="{% url "rechnungsumme" %}" method="post">
    <div class="row">
        <div class="span10">
            {% crispy form %}
            <button class="btn btn-primary btn-large rechnungs-button" type="submit" name="rechnungsumme" value="Rechnung als PDF ausgeben"><i class="icon-file icon-white"></i> Rechnung als PDF ausgeben</button>
        </div>
    </div>
</form>
{% endblock %}
