{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - rechnung{% endblock %}

{% block content %}
{% if stunden_not_payed %}
    <form class="form-inline" action="{% url "rechnung" %}" method="post">
        <div class="row">
            <div class="span10">
                {% crispy form %}
                <button class="btn btn-primary btn-large rechnungs-button" type="submit" name="rechnung" value="Rechnung als PDF ausgeben"><i class="icon-file icon-white"></i> Rechnung als PDF ausgeben</button>
            </div>
        </div>
        <div class="row-fluid maintable" id="maintable">
            {% if custom_error %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>{{ custom_error }}</p>
            </div>
            {% endif %}
            <p>Einträge auswählen, um diese zur Rechnung hinzuzufügen*</p>
            <p><i>(Ausgewähte Einträge, die nicht dem oben angegebenen Rechnungempfänger entsprechen, werden bei der Rechnungserstellung ignoriert.)</i>
            </p>
            <div class="row-fluid" id="stundenaufzeichnung">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th><label class="checkbox"><input type="checkbox" id="toggle-all"></label></th>
                        <th>Datum</th>
                        <th>Firma</th>
                        <th>Startzeit</th>
                        <th>Endzeit</th>
                        <th>Arbeitnehmer</th>
                        <th>Protokoll</th>
                        <th>Stunden</th>
                        <th>Bezahlt</th>
                    </tr>
                    {% for row in stunden_not_payed %}
                    <tr>
                        {% if row.id in stunden_ids %}
                        <td><label class="checkbox"><input type="checkbox" class="toggle-me" name="checks[]" value="{{ row.id }}" checked></label></td>
                        {% else %}
                        <td><label class="checkbox"><input type="checkbox" class="toggle-me" name="checks[]" value="{{ row.id }}"></label></td>
                        {% endif %}
                        <td>{{row.datum}}</td>
                        <td>{{row.firma}}</td>
                        <td>{{row.startzeit|time:"H:i"}}</td>
                        <td>{{row.endzeit|time:"H:i"}}</td>
                        <td>{{row.arbeitnehmer}}</td>
                        <td>{{row.protokoll}}</td>
                        <td>{{row.stunden}}</td>
                        <td>Nein</td>
                    </tr>{% endfor %}
                </table>
                <button class="btn" type="submit" name="bezahlt_markieren" value="Alle Einträge als bezahlt markieren"><i class="icon-ok"></i> Ausgewählte Einträge als bezahlt markieren</button>
            </div>
        </div>
    </form>
{% else %}
    <div class="row">
        <div class="span12">
            <p class="alert alert-info">
                Information: Derzeit sind keine unbezahlten Einträge vorhanden, daher kann im Moment keine Rechnung erstellt werden.
            </p>
            <a href="{% url "index" %}" class="btn btn-primary btn-large"><i class="icon-home icon-white"></i> Home</a>
        </div>
    </div>
{% endif %}
{% endblock %}
