{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} - stundenaufzeichnung bearbeiten{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form class="form-inline" action="{% url "stundenaufzeichnung_bearbeiten" stundenaufzeichnung_id %}" method="post" enctype="multipart/form-data">
                {% crispy form %}
                <div class="control-group">
                    <label for="id_button" class="control-label">
                    </label>
                    <div class="controls">
                        <button id="id_button" class="btn btn-large" type="submit" name="stundenaufzeichnung_bearbeiten" value="Stundenaufzeichnung bearbeiten"><i class="icon-edit"></i> Stundenaufzeichnung bearbeiten</button>
                        <button id="id_button" class="btn btn-danger btn-large" type="submit" name="stundenaufzeichnung_loeschen" value="Stundenaufzeichnung löschen" onclick="javascript:return confirm('Eintrag wirklich löschen?');"><i class="icon-trash icon-white"></i> Stundenaufzeichnung löschen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
