<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>webpystunden{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}img/favicon.png" rel="icon" type="image/png">
</head>

<body>
    <div class="container">
    {% block nav%}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="{% url "index" %}">webpystunden</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="{% url "index" %}"><i class="icon-home"></i> Home</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Neu <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "stundenaufzeichnung_neu" %}">Neue Stundenaufzeichnung</a></li>
                      <li><a href="{% url "firma_neu" %}">Neue Firma</a></li>
                      <li><a href="{% url "arbeitnehmer_neu" %}">Neuer Arbeitnehmer</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-edit"></i> Bearbeiten <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "stundenaufzeichnung" %}">Stundenaufzeichnung bearbeiten</a></li>
                      <li><a href="{% url "firma" %}">Firma bearbeiten</a></li>
                      <li><a href="{% url "arbeitnehmer" %}">Arbeitnehmer bearbeiten</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file"></i> Rechnung <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url "rechnung" %}">Rechnung Stundenbasierend</a></li>
                      <li><a href="{% url "rechnungsumme" %}">Rechnung Gesamtsumme</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url "csvexport" %}"><i class="icon-download-alt"></i> Export</a></li>
                  <li><a href="{% url "csvimport" %}"><i class="icon-arrow-up"></i> Import</a></li>
                </ul>
                <ul class="nav pull-right">
                {% if user.is_staff %}
                  <li><a href="{% url "admin:index" %}"><i class="icon-user"></i> Admin</a></li>
                {% endif %}
                  <li><a href="{% url "api_help" %}"><i class="icon-tasks"></i> API</a></li>
                  <li><a href="{% url "logout" %}"><i class="icon-off"></i> Abmelden</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}


    {% block content %}{% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>
